@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #111111;
}

#intro-pag {
    background-color: rgb(29, 29, 29);
    color: #fff;
}

#intro-pag p {
    text-align: center;
    padding: 0 20% 1% 20%;
    font-size: 15px;
    color: rgb(161, 161, 161);
}

h1 {
    text-align: center;
    padding: 4% 0;
    font-size: 70px
}

#intro-pag h2 {
    display: none;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(180, 180, 180);
    font-size: 25px;
    padding: 1% 4%;
    margin: 0;
    border-bottom: 5px solid transparent;
}

a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
    border-color: #2118C7;
    transition-duration: 0.5s;
}

.conteudo-padrao {
    padding: 3% 10%;
    position: relative;
    height: 450px;
    letter-spacing: 1px;
    text-align: center;
}

.conteudo-padrao h2 {
    position: absolute;
    color: #D8DEBD;
}

.conteudo-padrao p {
    color: #a5a4a4;
    text-align: center;
    position: absolute;
}

img {
    position: absolute;
    width: 400px;
    height: 400px;
    margin: 4% 15% 4% 15%;
    border: #2b2a2a solid 4px;
    border-radius: 5%;
    box-shadow:
        12.5px 12.5px 10px rgba(0, 0, 0, 0.677),
        100px 100px 80px rgba(0, 0, 0, 0.45);

}

/*Space Invaders*/

#space_invaders p {
    padding: 4% 7%;
    width: 60%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    font-size: 18px;
}

#space_invaders h2 {
    width: 45%;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
    padding: 2% 7%;
    font-size: 55px;
}

/*Pac Man*/

#pac_man img {
    top: 0;
    left: 0;
}

#pac_man p {
    padding: 4% 12%;
    width: 40%;
    right: 0;
    font-size: 18px;
}

#pac_man_part1 {
    top: 18%;
}

#pac_man_part2 {
    bottom: 5%;
}

#pac_man h2 {
    width: 40%;
    right: 0;
    padding: 2% 12%;
    font-size: 40px;
}

/*Donkey Kong*/


#donkey_kong img {
    top: 0;
    right: 0;
}

#donkey_kong p {
    padding: 6% 12%;
    width: 40%;
    left: 0;
    bottom: 0;
    font-size: 18px;
}

#donkey_kong h2 {
    width: 40%;
    left: 0;
    padding: 2% 12%;
    font-size: 40px;
}

/*Super Mario Bros*/

#super_mario_bros img {
    top: 0;
    left: 0;
}

#super_mario_bros p {
    padding: 3% 12% 9% 0;
    width: 40%;
    right: 0;
    bottom: 0;
    font-size: 18px;
}

#super_mario_bros h2 {
    width: 40%;
    right: 0;
    padding: 3% 12%;
    font-size: 44px;
}

footer{
    text-align: center;
    padding: 1%;
    height: 2%;
    color: #a5a4a4;
    background-color: rgb(29, 29, 29);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
}