@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #0d1c2c;
    text-align: center;
}

#intro-pag h2 {
    font-size: 1.6vw;
}

#intro-pag {
    width: 100vw;
    height: auto;
    background-image: linear-gradient(180deg, #ab0e00, 5%, rgb(53, 53, 53, 0));
    color: #ff1100;
}

h1 {
    font-size: 5.124450951683748vw;
    padding: 5vw 0;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#intro-pag p,
footer {
    font-size: 1.0980966325036603vw;
    color: rgb(184, 184, 184);
    padding: 1vw;
}

#intro-pag p,
h2 {
    margin: 1.1vw auto;
    width: 70%;
}

a {
    text-decoration: none;
    width: 24vw;
    height: auto;
    font-size: 1.8301610541727673vw;
    color: rgb(206, 206, 206);
    border-bottom: 1vw solid transparent;
    padding: 3px;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(29, 29, 29, 0.815);
    border-color: #ff1100;
    transition-duration: 0.5s;
}

.conteudo-padrao {
    width: 80%;
    height: auto;
    margin: 2% auto;
    display: grid;
}

img {
    width: 31vw;
    height: auto;
    border: rgb(97, 97, 97) 0.29vw solid;
    border-radius: 4%;
    grid-row: 1 / 4;
    margin: auto;
    box-shadow: 13px 1.4px 2.8px rgba(0, 0, 0, 0.3), 10px 11px 1.6vw rgba(0, 0, 0, 0.79);
}

#donkey_kong p {
    grid-row: 2 / 4;
}

#pac_man,
#super_mario_bros,
#donkey_kong {
    padding: 2vw;
    grid-template-columns: repeat(2, 1fr);
}

p {
    font-size: 1.3vw;
    letter-spacing: 1px;
    color: rgb(204, 204, 204);
}

h2 {
    font-size: 3.2vw;
    width: 40vw;
    color: #ff1100;
}

footer {
    background-color: #09131d;
}

@media (max-width:800px) {

    .conteudo-padrao p, #intro-pag p, footer{font-size: 2.7vw;}

    h1{font-size: 7vw;}

    h2, #intro-pag h2{font-size: 5vw;}

    ul {display: flex; flex-wrap: wrap;}

    a{font-size: 4vw; width: 100vw;}

    #pac_man, #super_mario_bros, #donkey_kong {grid-template-columns: 1fr;}

    img {
        grid-row: auto;
        width: 70vw;
        margin: 5vw auto;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
}