@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(22, 22, 22);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#intro-pag{
    background-color: rgb(32, 32, 32);
    
}

#intro-pag p{
    text-align: center;
    padding: 2% 20%;
    font-size: 20px;
}

h1{
    text-align: center;
    padding: 8% 0;
    font-size: 70px
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(180, 180, 180);
    font-size: 25px;
    padding: 1% 4%;
    margin: 2% 0 0 0;
    border: 0 0 4px 0;
    border-bottom: rgb(32, 32, 32) solid;
}

a:hover{
    background-color: rgb(20, 20, 20);
    color: #fff;
    border: 0 0 4px 0;
    border-bottom: blue solid;
}

.conteudo-padrao{
    margin: 20%;
    display: flex;
}

h2{
    padding: 20px;
}

img{
    width: 50px;
    height: 50px;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-thumb{
    background-color:rgb(180, 180, 180);
    border-radius: 10px;
}